#results {
    width: 100%;
    height: 55px;
    overflow: hidden;
    background-image: linear-gradient(to right, black, rgb(7, 66, 228), black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px 5px;
    margin: 10px 0px;
}

#results span {
    margin: 0px 5px 50px;
    background-image: linear-gradient(to right, rgb(30, 159, 246), black);
    color: white;
    font-size: 17px;
    padding: 5px 0px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 3px;
    cursor: pointer;
}

#history-icon {
    font-size: 25px;
}

#history-icon:hover {
    color: rgb(208, 255, 0);
    cursor: pointer;

}



@media screen and (max-width: 768px) {

    #history-icon {
        font-size: 20px;
    }

    #results {
        width: 100%;
        height: 42px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        padding: 5px 5px;
        margin: 10px 0px;
    }

    #results span {
        margin: 0px 5px 50px;
        color: white;
        font-size: 11px;
        padding: 5px 0px;
        width: 50px;
        height: 30px;
        letter-spacing: 1px;
        border-radius: 5px;
    }

}